.tower{
    width:30px;
    height:370px;
    background:grey;
    position: absolute; top:350px;
    border: 4px outset;
 }

.disk{
   background-color:brown;
   border:2px solid black;    
   border-radius:45%;
   -moz-border-radius:45%;
   -webkit-border-radius:45%;
   position: absolute;
}