.tower{
    width:40px;
    height:400px;
    background:grey;
    border: 4px outset;
 }

.disk{
   background-color:brown;
   border:2px solid black;    
   border-radius:45%;
   -moz-border-radius:45%;
   -webkit-border-radius:45%;
   margin-bottom: 35px;
   position: absolute;
}