
<div class="container" style="margin-top:100px">

<!-- START GAME FORM -->
<!-- <div *ngIf="isStart">
  <div class="row justify-content-center">
    <div class="col-2">
      <label for="diskNumber" class="offset-1">Number of disks</label>
      <input type="number" [(ngModel)]="diskNumber" class="form-control" max="5" min="2"> 
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2 offset-1">
      <button id="start" class="btn btn-primary" (click)="onStart()" style="margin-top:5px">Start!</button>  
    </div>
  </div>         
</div> -->

<!-- DISKS -->
<div id="disk1" class="disk" style="height:28px; width:250px;" (click) = "onDiskClick($event)"></div> 
<div id="disk2" class="disk" style="height:28px; width:210px;" (click) = "onDiskClick($event)"></div>
<div id="disk3" class="disk" style="height:28px; width:170px;" (click) = "onDiskClick($event)"></div>

<!-- TOWERS -->
<div class="row fixed-bottom" style="z-index:-1">

  <div class="col-2 offset-4">

    <div id="tower1" class="tower" (click) = "onTowerClick($event)"></div> 
  </div>
  <div class="col-2">
    <div id="tower2" class="tower" (click) = "onTowerClick($event)"></div> 
  </div>
  <div class="col-2">
    <div id="tower3" class="tower" (click) = "onTowerClick($event)"></div> 
  </div>
</div>

</div>
<router-outlet></router-outlet>
